<div class="container posts">
  <h1 class="page-title">Posts</h1>
  
  
    <% if user_signed_in? %>
      <div class="btn-post">
        <%= link_to "Create new post", new_post_path, class: "btn btn-link" %>
      </div>
    <% end %>
  
  <% if @posts.empty?%>
    <p>No Post Available</p>
  <% else %>
    <ul>
      <% @posts.each do |post| %>
        <div class="card">
          <li>
            <div class="post-content">
              <h3 class="card-title" > <%= post.title %> </h3>
              <p class="card-body"> <%= post.body %> </p>
            </div>
            <% if user_signed_in? %>
              <p class="card-author"> Created by: <%= post.user.username %> </p>
            <% else %>
              <p class="card-author"> Created by: Anonymous </p>
            <% end %>
          </li>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>